#loginContainer {
    height: 90.3vh;
    background-image: url('../images/loginBackground.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

#loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20%;
    padding: 30px;
}

#titleConnexion {
    color: #BC002D;
}

#passwordForgotten {
    font-size: 0.8rem;
    color: #BC002D;
}

@media only screen and (max-width: 800px) {
    #loginContainer {
        height: 85.5vh;
    }

    #loginForm {
        border: none;
        padding: 15px;
    }
}

@media only screen and (max-width: 800px) and ( orientation: landscape) {
    #loginForm {
        margin-top: 10px;
        border: none;
    }
}
