#pwdForgottenForm {
    padding: 30px;
}

#pwdForgottenTitle {
    text-align: center;
    color: #BC002D;
    font-family: 'Comic Neue', cursive;
    font-size: 1.8rem;
}

#pwdForgottenText {
    text-align: center;
    font-family: 'Comic Neue', cursive;
    font-size: 1.2rem;
}
