#resetPwdForm {
    padding: 30px;
}

#resetPwdTitle {
    text-align: center;
    color: #BC002D;
    font-family: 'Comic Neue', cursive;
    font-size: 1.8rem;
}

#resetPassword {
    margin-bottom: 10px;
}